@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:wght@300;400&display=swap");

*{
  margin-right: 6px;
  margin-left: 3px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background: #2bb7da;
    margin-top: 45px;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo h3,
.footer-logo h3 {
  color: white;
}
.header-logo h3 {
  margin-left: 1rem;
}
.nav-toggle {
  display: none;
}
.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu li:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-menu li a,
.nav-call-to-action a {
  text-decoration: none;
  color: white;
}
.nav-call-to-action {
  margin-right: 2rem;
}
.nav-call-to-action a {
  border: 2px solid white;
  border-radius: 5px;
}
.nav-call-to-action a:first-child {
  padding: 0.5rem 0.5rem;
  margin-right: 0.2rem;
}
.nav-call-to-action a:last-child {
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}

footer {
  background-color: #2bb7da;
  margin-top: 32rem;
  padding-top: 1rem;
}
.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-call-to-action a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: #2bb7da;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1rem 1.2rem 0.4rem 1.2rem;
}
.footer-call-to-action {
  display: flex;
  margin-right: 2rem;
}

form .search-input {
  padding: 1rem;
  background: #2bb7da;
  color: white;
  border: 2px solid white;
  border-left: none;
  border-radius: 5px;
  margin-left: -7px;
}
::placeholder {
  color: white;
} /* Firefox */
form .search-input:focus {
  outline: none;
}
:-ms-input-placeholder {
  color: white;
} /* IE 10-11 */

.footer-middle-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer-section {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer-section:first-child {
  margin-left: 1.8rem;
}
.footer-section:last-child {
  margin-right: 1.8rem;
}
.footer-section a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.2rem;
}
/* .footer-subscribe-btn-container {
  width: 20%;
} */
.footer-section .subscribe-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  padding: 0.6rem 2.5rem;
  border-radius: 5px;
  margin-top: 0.6rem;
}

footer hr {
  margin: 1rem 0;
}
.footer-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-link a {
  text-decoration: none;
  color: white;
}
.footer-bottom-link a:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-bottom-section p {
  color: white;
  margin-left: 1.8rem;
}
.footer-social-links {
  margin-right: 2rem;
  display: flex;

  align-items: center;
}
.footer-social-links a {
  text-decoration: none;
}
.footer-social-links p {
  margin-right: 0.5rem;
}
.footer-social-links a:not(:last-child) {
  margin-right: 0.9rem;
}
.footer-social-links svg {
  fill: white;
}
.mentor-name,
.copyright {
  text-align: center;
  color: white;
  margin-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 750px) {
  header {
    position: relative;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin-top: 0.4rem;
    margin-right: 1rem;
    right: 0;
  }
  nav svg {
    width: 1.3rem;
    fill: white;
  }
  .close,
  .nav-checkbox {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0.1rem 0;
  }
  .nav-links {
    position: absolute;
    margin-top: 3.3rem;
    /* left: 50%; */
    top: 20px;
    width: 100%;
  }

  li {
    display: none;
    padding: 0.2rem 1rem 0.2rem;
    font-size: 1.2rem;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu li {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu {
    background-color: black;
    opacity: 0.9;
    height: 94vh;
    padding-top: 2rem;
    border-radius: 3px;
  }
  .nav-call-to-action {
    display: none;
  }
  footer {
    font-size: 1rem;
  }
  .footer-call-to-action a {
    padding: 0.6rem 0.5rem 0.2rem 0.5rem;
  }
  form .search-input {
    padding: 0.8rem;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-middle-section {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .footer-section {
    margin-left: 1rem;
    width: 32%;
  }
  .footer-section:nth-child(3) {
    margin-top: 0.5rem;
  }
  .footer-section:first-child {
    margin-left: 1rem;
  }
  .footer-section:nth-child(2) {
    margin-right: 1rem;
  }
  .footer-section:last-child {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 2rem;
  }
  .footer-section .subscribe-btn {
    padding: 0.4rem 3rem 0.4rem 3rem;
  }
  .footer-bottom-section {
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom-section p {
    margin-left: 0;
  }
  .footer-bottom-section p,
  .footer-bottom-link {
    width: 90%;
  }
  .mentor-name {
    text-align: center;
  }
}
