@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* //HEADER SECTION// */
header {
    background: #2bb7da;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo h3, .footer-logo h3 {
    color: white;
}
.header-logo h3 {
    margin-left: 1rem;
}
.nav-toggle {
    display: none;
}
.nav-checkbox {
    display: none;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-menu li:not(:last-child) {
    margin-right: 1.5rem;
}
.nav-menu li a,
.nav-call-to-action a {
    text-decoration: none;
    color: white;
}
.nav-call-to-action {
    margin-right: 2rem;
}
.nav-call-to-action a {
    border: 2px solid white;
    border-radius: 5px;
}
.nav-call-to-action a:first-child {
    padding: 0.5rem 0.5rem;
    margin-right: 0.2rem;
}
.nav-call-to-action a:last-child {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}
/* //MAIN SECTION/ */


/* //FOOTER SECTION// */

footer {
    background-color: #2bb7da;
    margin-top: 2rem;
    padding-top: 1rem;
}
.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}
  
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-call-to-action a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #2bb7da;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1rem 1.2rem 0.4rem 1.2rem;
}
.footer-call-to-action {
    display: flex;
    margin-right: 2rem;
}
  
form .search-input {
    padding: 1rem;
    background: #2bb7da;
    color: white;
    border: 2px solid white;
    border-left: none;
    border-radius: 5px;
    margin-left: -7px;
}
::placeholder {
    color: white;
} /* Firefox */
  form .search-input:focus {
    outline: none;
}
  :-ms-input-placeholder {
    color: white;
} /* IE 10-11 */
  
.footer-middle-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.footer-section {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.footer-section:first-child {
    margin-left: 1.8rem;
}
.footer-section:last-child {
    margin-right: 1.8rem;
}
.footer-section a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.2rem;
}
/* .footer-subscribe-btn-container {
    width: 20%;
} */
.footer-section .subscribe-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    padding: 0.6rem 2.5rem;
    border-radius: 5px;
    margin-top: 0.6rem;
}
  
footer hr {
    margin: 1rem 0;
}
.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-link a {
    text-decoration: none;
    color: white;
}
.footer-bottom-link a:not(:last-child) {
    margin-right: 1.5rem;
}
.footer-bottom-section p {
    color: white;
    margin-left: 1.8rem;
}
.footer-social-links {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.footer-social-links a {
    text-decoration: none;
}
.footer-social-links p {
    margin-right: 0.5rem;
}
.footer-social-links a:not(:last-child) {
    margin-right: 0.9rem;
}
.footer-social-links svg {
    fill: white;
}
.mentor-name, .copyright {
    text-align: center;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* //RESPONSIVE DESIGN// */
@media (max-width: 750px) {
    header {
      position: relative;
    }
    .nav-toggle {
      display: block;
      position: absolute;
      cursor: pointer;
      margin-top: 0.4rem;
      margin-right: 1rem;
      right: 0;
    }
    nav svg {
      width: 1.3rem;
      fill: white;
    }
    .close,
    .nav-checkbox {
      display: none;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      margin: 0.1rem 0;
    }
    .nav-links {
      position: absolute;
      margin-top: 3.3rem;
      /* left: 50%; */
      top: 20px;
      width: 100%;
    }
  
    li {
      display: none;
      padding: 0.2rem 1rem 0.2rem;
      font-size: 1.2rem;
    }
    .nav-checkbox:checked ~ .nav-links .nav-menu li {
      display: block;
    }
    .nav-checkbox:checked ~ label.nav-toggle .close {
      display: block;
    }
    .nav-checkbox:checked ~ label.nav-toggle .menu {
      display: none;
    }
    .nav-checkbox:checked ~ .nav-links .nav-menu {
      background-color: black;
      opacity: 0.9;
      height: 94vh;
      padding-top: 2rem;
      border-radius: 3px;
    }
    .nav-call-to-action {
      display: none;
    }
    footer {
      font-size: 1rem;
    }
    .footer-call-to-action a {
      padding: 0.6rem 0.5rem 0.2rem 0.5rem;
    }
    form .search-input {
      padding: 0.8rem;
    }
    .footer-top {
      flex-direction: column;
    }
    .footer-middle-section {
      flex-wrap: wrap;
      font-size: 1rem;
    }
    .footer-section {
      margin-left: 1rem;
      width: 32%;
    }
    .footer-section:nth-child(3) {
      margin-top: 0.5rem;
    }
    .footer-section:first-child {
      margin-left: 1rem;
    }
    .footer-section:nth-child(2) {
      margin-right: 1rem;
    }
    .footer-section:last-child {
      margin-top: 0.5rem;
      margin-right: 1rem;
      margin-left: 2rem;
    }
    .footer-section .subscribe-btn {
      padding: 0.4rem 3rem 0.4rem 3rem;
    }
    .footer-bottom-section {
      flex-direction: column;
      text-align: center;
    }
    .footer-bottom-section p {
      margin-left: 0;
    }
    .footer-bottom-section p,
    .footer-bottom-link {
      width: 90%;
    }
    .mentor-name {
      text-align: center;
    }
}


/*this my own styling section for the home page layout*/

/*
*{
    margin:0;
    padding:0;
}
*/
/*
body {
    margin:0;
    padding:0;
}
*/

/*
img {
    max-width:100%;
    border:0;
}

*/

a {
  color:black;
}

.section-heading-separator {
  display:flex;
  justify-content:center;
  position:relative;
  margin-bottom: 1em;
}

.section-heading-separator .heading-title{
  font-size:1.2em;
  font-family:'Times New Roman', Times, serif;
  line-height: 1.2;
  color: black;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 0.25em 1em;
}

.heading-title a {
  text-decoration: none;
  color:black;
}
.section-heading-separator fieldset {
  width:100%;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 2%;
}
/*this section affects the overall width of the main-news-contect-section on the row layout*/

.row {
  max-width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 /* border:2px solid tomato; */
}

/* this media query aligns all items in a column layout, however the div class must have a pre class name="row"
  while the .column affects the column layout in the row section which is the left-news-content, the middle-news-content and 
  the right-news-content, to take a width of 100% 
*/
@media (max-width: 720px) {
  .row {
    flex-direction: column;
    text-align: center;
    width:100%;
  }
  .column .group-news-content-middle-main{
    width: 100%;
   
  }

  /*this line of code affects the last child of the list items to not have a bottom border*/
  .list-outline .list-item:last-child {
      margin-bottom:10.5%;
  }
}

/*STYLING THE NEWS CONTENT SECTION STARTING FROM THE LEFT*/
.column {
  padding-right: .9375rem;
  padding-left: .9375rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: initial;
}

.list-outline{
  padding-left: 1.25em;
  border-left: 2px solid rgb(209, 188, 188);
}

.list-outline .list-item{
  margin-bottom: .25em;
  padding-bottom: .5em;
  border-bottom: 2px solid rgb(209, 188, 188);
}

.list-outline .list-item:last-child {
  border-bottom: none;
}


ol, ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

article{
  display: block;
}

.item-content {
  margin-bottom: 0px;
}

.item-content .before-entry-time {
  margin-bottom: 0.25em;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
}

.list-outline .item-content .before-entry-time {
  position: relative;
}

.before-entry-time {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 0.825em;
  color:rgb(90, 80, 80);
}

::before, ::after {
  box-sizing: inherit;
}


.list-outline .item-content .before-entry-time ::before{
  position:absolute;
  top:0;
  left: -1.875em;
  height: .75em;
  width: .75em;background: green;
  display: block;
  border-radius: 50%;
  content:'';
}

.entry-time {
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
}

.news-item-content {
  line-height: 1.2;
  font-weight: 500;
}

.group-news-media-content-left .list-outline .item-content .news-item-content {
  font-size:1.0875em;
}

.news-item-content a{
  color: black;
}

a {
  text-decoration: none;
  background-color: transparent;
}


/**STYLING THE NEWS CONTENT SECTION STARTING FROM THE LEFT - NOW THE MIDDLE (CENTER) SECTION*/


.middle-news-content .middle-news-content-image-display {
  display:block;
  margin-bottom:0.5em;
}

.middle-news-content-image-display {
  position:relative;
  padding-bottom: 56.25%;

}


.middle-news-content-image-display img {
  display:block;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}


.group-news-media-content-left .middle-news-content .middle-news-content-headline {
  line-height:1.2;
  text-align: center;
  font-weight: normal;
  margin-top: 0.865em;
  font-size:1.55em;
}


.group-news-media-content-left .group-news-content-middle-main {
  margin-bottom:10.5%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
}

/**STYLING THE NEWS CONTENT SECTION STARTING FROM THE LEFT - NOW THE RIGHT HAND SECTION 
(WITH A FLIP IN THE POSITION AND FONT STYLING OF THE div class="entry-time" and the h3 class="news-item-content")*/




/*TRENDING VIDEOS CONTENT SECTION STYLING*/

.video-content-section {
  border-top: 2px solid rgb(134, 121, 121);
  margin-top: 0.865em;
  margin-top: 2%;
}


.video-content-title {
  text-align:center;
}

.video-content-container {
  display:flex;
  justify-content: center;
  gap:2%;
 /* border:2px solid black; */
  align-items: center;
  max-width:fit-content;
  max-height:fit-content;
  
}


.video-content-card {
  padding:10px;
  flex-basis:10%;
  flex-grow: 1;
  flex-shrink:0;
}

.video-content-card a img {
  width:100%;
  height:100%;
}


@media (max-width: 720px) {
  .row {
    flex-direction: column;
    text-align: center;
  }
  .column .group-news-content-middle-main{
    width: 100%;
  }
}

/*this is the styling for navigating to other videos using the more videos button*/
.more-videos-button {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.more-videos-button .more-videos-text {
    font-size: 1.5em;
    font-weight:bold;
    color:rgb(10, 83, 26);
    font-family: 'poppins' sans-serif;
}

/*the next section is the metro and business section*/



