@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* //HEADER SECTION// */
header {
  margin-right: 0;
  margin-left: 0;
  background: linear-gradient(to right, #2bb7da, #31d35c);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.header-logo h3,
.footer-logo h3 {
  color: white;
  font-size: 1.3rem;
}
.header-logo h3 {
  margin-left: 1rem;
}
.header-logo span,
.footer-logo span {
  color: lawngreen;
  font-size: 1.4rem;
}
.nav-toggle {
  display: none;
}
.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu li:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-menu li a,
.nav-call-to-action a {
  text-decoration: none;
  color: white;
}
/* hover styles for the nav-link */
.nav-link {
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 5px;
  background: black;
  left: 0;
  right: 0;
  bottom: -1.4625rem;
  opacity: 0;
}
.nav-link:hover {
  color: black;
}
.nav-link:hover::before {
  opacity: 0.75;
}
.nav-call-to-action {
  margin-right: 2rem;
}
.nav-call-to-action a {
  border: 2px solid white;
  border-radius: 5px;
}
.nav-call-to-action a:first-child {
  padding: 0.5rem 0.5rem;
  margin-right: 0.2rem;
}
.nav-call-to-action a:last-child {
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}

/* //MAIN SECTION// */
.section-heading {
  position: relative;
  display: block;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.2px;
  background: rgba(0, 0, 0, 0.1);
  width: 40%;
}

.right {
  right: 30px;
  left: auto;
}

.left {
  left: 30px;
}

h2 {
  overflow: hidden;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
}

.main-news {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: #000;
}

.first-card {
  width: 25%;
}

.first-card img {
  width: 100%;
}

.first-link-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.second-link-wrap {
  padding: 20px 0;
}

.second-card {
  width: 45%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.second-card img {
  width: 100%;
  height: 300px;
}

.second-card a {
  font-size: 24px;
  /* text-align: center; */
  display: block;
  padding: 0 30px;
}

.second-card p {
  font-size: 30px;
  text-align: center;
}
.third-card {
  width: 25%;
}

.third-card a {
  display: block;
  font-weight: 700;
}

.links {
  margin-bottom: 20px;
}

.links h6 {
  margin-top: 8px;
  font-weight: 200;
}

.advertisement{
  width: 80%;
  margin: 0 auto;
}

.advertisement img{
  width: 100%;
  height: 15  0px;
}

.section-2,
.section-3 {
  width: 80%;
  margin: 80px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.section-4 {
  width: 80%;
  margin: 40px auto;
}

.row-2 a,
.row-3 a,
.row-4 a {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  width: 22%;
}
.row-2,
.row-3,
.row-4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.row-2 img,
.row-3 img,
.row-4 img {
  width: 100%;
  height: 150px;
}

.section-5 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.section-5 div:hover {
  cursor: pointer;
  background: #eed6b2;
}

.section-5 .peel {
  width: 0;
  height: 0;
  background-color: white;
  padding: 0;
  margin: 8px;
}

.section-5 div {
  width: 30px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f3f3f3;
  padding: 10px;
  margin: 3px;
  border-radius: 3px;
}

.section-5 .one-link {
  background: red;
  border-radius: 3px;
}

.section-5 .six {
  width: 50px;
  height: 40px;
  border-radius: 3px;
}

.section-6 {
  width: 80%;
  margin: 40px auto;
  padding-bottom: 50px;
}

.row-6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-6 a {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
  width: 20%;
}
.r0w-6 img {
  width: 100%;
  height: 150px;
}

/* RESPONSIVENESS */

@media (max-width: 990px) {
  .main-news {
    width: 80%;
  }

  .advertisement {
    width: 80%;
  }

   .advertisement img {
    width: 100%;
    object-fit: cover;
  } 

  .section-2,
  .section-3 {
    width: 80%;
    margin: 80px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }

  .section-4 {
    width: 80%;
    margin: 40px auto;
  }

  .section-5 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  
  .section-6 {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 50px;
  }
    .row-6 a {
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    width: 43%;
  }
}

@media (max-width: 700px) {
  .row-6 a {
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    width: 38%;
  }
}

@media (max-width: 644px) {
  .row-6 a {
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    width: 100%;
  }

  .section-2,
  .section-3 {
    width: 95%;
    margin: 40px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 150px;
  }
  
  @media (max-width: 500px) {
    .right {
      right: 5px;
      left: auto;
    }
    
    .left {
      left: 5px;
    }
    
    .main-news{
      width: 70%;
      display: flex;
     flex-direction: column;
     justify-content: center;
    }

     a {
      text-decoration: none;
      color: #000;
    }
    
    .first-card {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .first-card img {
      width: 100%;
    }
    
    .first-link-wrap {
     border: none;
      padding-bottom: 20px;
    }
    
    .second-link-wrap {
      padding: 20px 0;
    }
    
    .second-card {
      width: 100%;
      border: none;
      margin-bottom: 10px ;
    }
    .second-card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    
    .second-card a {
      font-size: 12px;
      /* text-align: center; */
      display: block;
      /* padding: 0 30px; */
      margin-bottom: 20px;
    }
    
    .second-card p {
      font-size: 14px;
      text-align: center;
      font-weight: 700;
    }
    .third-card {
      width: 100%;
    }
    
    .third-card a {
      display: block;
      font-weight: 700;
    }
    
    .links {
      margin-bottom: 20px;
    }
    
    .links h6 {
      margin-top: 8px;
      font-weight: 200;
    }
    }
 
.second-card a {
  font-size:10px;
  /* text-align: center; */
  display: block;
  padding: 0 30px;
  font-size: 12px;
}

.advertisement {
  width: 70%;
}

 .advertisement img{
  width: 100%;
  background-color: #2bb7da;
} 

.section-2,
.section-3 {
  width: 70%;
  margin: 20px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.section-4 {
  width: 80%;
  margin: 30px auto;
  padding-bottom: 0px;
}
.row-2 a,
.row-3 a,
.row-4 a {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  width: 45%;
  font-size: 12px;
}
.row-2,
.row-3,
.row-4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.row-2 img,
.row-3 img,
.row-4 img {
 object-fit: cover;
}

.section-5 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  padding-bottom: 20px;
}

.section-6 {
  width: 80%;
  margin: 10px auto;
  padding-bottom: 50px;
}

.row-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.row-6 a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
}
.r0w-6 img {
 object-fit: cover;
}
}


/* //FOOTER// */
footer {
  background-color: black;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
}

.footer-form {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.form-search-wrapper {
  width: 68%;
}
.search-button {
  width: 30%;
}
.footer-form a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
  margin-left: 0.3rem;
  /* width: 60%; */
  text-align: center;
}
.footer-form a:hover {
  color: #31d35c;
}
.footer-form .search-input {
  padding: 1rem;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  color: white;
  font-size: 1rem;
} /* Firefox */
form .search-input:focus {
  outline: none;
}
:-ms-input-placeholder {
  color: white;
} /* IE 10-11 */

.footer-middle-section {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer-section {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-section a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.2rem;
}
.footer-section a:hover {
  color: #31d35c;
}
.footer-subscribe-btn {
  border: 2px solid white;
  color: white;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: 0.3rem;
}
.footer-subscribe-btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
footer hr {
  margin: 1rem 0;
  height: 1.2px;
  background-color: white;
  border: none;
}
.footer-bottom-section {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
.footer-bottom-link {
  flex-wrap: nowrap;
  width: 40%;
}
.footer-bottom-link a {
  text-decoration: none;
  color: white;
}
.footer-bottom-link a:hover {
  color: #31d35c;
}
.footer-bottom-link a:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-bottom-section p {
  color: white;
  margin-left: 1.8rem;
}
.footer-social-links {
  width: 30%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.footer-social-links a {
  text-decoration: none;
}
.footer-social-links a:hover {
  transform: scale(1.1);
}
.footer-social-links svg:hover {
  fill: #31d35c;
}
.footer-social-links p {
  margin-right: 0.5rem;
}
.footer-social-links a:not(:last-child) {
  margin-right: 0.5rem;
}
.footer-social-links svg {
  fill: white;
}
.footer-copyright {
  width: 90%;
  margin: 1rem auto 1rem auto;
}

.copyright {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
/* //RESPONSIVE DESIGN// */
@media (max-width: 750px) {
  header {
    position: relative;
  }
  .header-logo {
    margin-left: -1.5rem;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin-top: 0.4rem;
    margin-right: 1rem;
    right: 0;
  }
  nav svg {
    width: 1.3rem;
    fill: white;
  }
  .close,
  .nav-checkbox {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0.1rem 0;
  }
  .nav-links {
    position: absolute;
    margin-top: 2.76rem;
    top: 20px;
    right: 0;
    width: 100%;
    z-index: 100;
  }

  li {
    display: none;
    padding: 0.2rem 1rem 0.2rem;
    font-size: 1.2rem;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu li {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu {
    background-color: black;
    opacity: 0.9;
    height: 65vh;
    padding-top: 2rem;
    border-radius: 3px;
  }
  .nav-call-to-action {
    display: none;
  }
  footer {
    font-size: 1rem;
  }
  .footer-form {
    margin-top: 0.5rem;
  }
  .footer-form a {
    margin-left: 0.3rem;
    padding: 0.8rem 0.95rem 0.8rem 0.95rem;
  }
  .form-search-wrapper {
    width: 80%;
  }
  .search-button {
    width: 18%;
  }
  .foter-form .search-input {
    padding: 0.8rem;
  }
  .footer-top {
    flex-direction: column;
  }

  .footer-middle-section {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .footer-section {
    margin-left: 1rem;
    width: 32%;
  }
  .footer-section:nth-child(3) {
    margin-top: 0.8rem;
  }

  .footer-section:last-child {
    margin-top: 0.8rem;
  }
  .footer-section .subscribe-btn {
    display: inline-block;
    padding: 0.4rem 2rem 0.4rem 2rem;
  }
  .footer-bottom-section {
    text-align: center;
  }
  .footer-bottom-section p {
    margin-left: 0;
  }
  .footer-bottom-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-bottom-link {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
  }
  .footer-social-links {
    width: 55%;
    margin: 0 auto;
  }
  .social-link {
    display: flex;
    justify-content: center;
  }

  .copyright {
    font-weight: 700;
    line-height: 1.4;
    font-size: 0.8rem;
  }
}
/*Responsiveness For very small devices*/
@media (max-width: 350px) {
  .footer-middle-section {
    justify-content: center;
  }
  .footer-section {
    width: 90%;
    margin: 0 auto;
  }
  .footer-bottom-section {
    flex-direction: column;
    justify-content: center;
  }
  .footer-bottom-link {
    flex-direction: row;
    width: 70%;
  }
  .footer-social-links {
    width: 90%;
    margin-top: 1rem;
  }
}
