@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&display=swap');
*{
    margin-right: 6px;
    margin-left: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Header Section */
header {
    background: #2bb7da;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo h3, .footer-logo h3 {
    color: white;
}
.header-logo h3 {
    margin-left: 1rem;
}
.nav-toggle {
    display: none;
}
.nav-checkbox {
    display: none;
}
.nav-menu {
    display: flex;
    list-style: none;
}
.nav-menu li:not(:last-child) {
    margin-right: 1.5rem;
}
.nav-menu li a,
.nav-call-to-action a {
    text-decoration: none;
    color: white;
}
.nav-call-to-action {
    margin-right: 2rem;
}
.nav-call-to-action a {
    border: 2px solid white;
    border-radius: 5px;
}
.nav-call-to-action a:first-child {
    padding: 0.5rem 0.5rem;
    margin-right: 0.2rem;
}
.nav-call-to-action a:last-child {
    padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}
/* //MAIN SECTION// */
.section-heading-separator {
    display:flex;
    justify-content:center;
    position:relative;
    margin-bottom: 1em;
}
  
.section-heading-separator .heading-title{
    font-size:1.2em;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.2;
    color: black;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 0.25em 1em;
}
  
.heading-title a {
    text-decoration: none;
    color:black;
}
.section-heading-separator fieldset {
    width:100%;
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 2%;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sports-wrapper{
    width: 80%;
}
.advertisment{
    width: 20%;
    background-color: red;
}
.main-news{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border-bottom: 1px solid rgb(226, 217, 217);
}
.left-section{
    width: 30%;
}
.first{
    border-bottom: 2px solid rgb(226, 217, 217);
}
.left-card a{
    text-decoration: none;
    color: #000;
}

.left-card-image{
    width: 100%;
    height: 170px;
}
.middle-section{
    width: 40%;
    border-left: 1px solid rgb(226, 217, 217);
    border-right: 1px solid rgb(226, 217, 217);
    margin-bottom: 50px;
}
.middle-card{
    padding-left: 4px;
    padding-right: 10px;
}
.middle-card a{
    text-decoration: none;
    color: #000;
}

.middle-title{
    font-size: 24px;
    text-align: center;
}
.middle-card-image{
    width: 100%;
    height: 250px;
}

.right-section{
    width: 30%;
}
.news-title a{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
.news-title  a p{
    margin-top: -16px;
}
.new-news-content{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid rgb(226, 217, 217);
}
.news-author h5, .news-time h5{
    margin-top: -20px;
    font-weight: 200;
}
/* NEWS WRAPPER SECTION */

.news-wrapper{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}
.news-image{
    width: 220px;
    height: 160px;
}
.section-1 a{
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 15px;
}


/*2nd and 3rd*/

.horizontal{
    margin-top: 50px;
    opacity: 0.3;
}

.section-news-content-container{
 display: flex;
 margin-top: 50px;
 gap: 20px;
}

.news-content-container{
 display: flex;
 margin-top: 50px;
 gap: 20px;
}
.section-second-news-container{
 display: flex;
 margin-top: 30px;
 gap: 20px;
}

.second-news-container{
 display: flex;
 margin-top: 50px;
 gap: 20px;
}
.title-news{
    font-size: 15px;
    width: 200px;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 15px;
}

img{
    width: 220px;
    height: 160px;
} 


/* page number */
.botini{
 margin-top: 150px;
}

.btn{
    width: 50px;
    height: 40px;
    margin: 2px;
    margin-bottom: 40px;
    border: 0;
}

#pupa{
    background-color: #e61414;
}
/* //FOOTER// */
footer {
    background-color: #2bb7da;
    margin-top: 2rem;
    padding-top: 1rem;
}
.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}
  
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-call-to-action a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #2bb7da;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1rem 1.2rem 0.4rem 1.2rem;
}
.footer-call-to-action {
    display: flex;
    margin-right: 2rem;
}
  
form .search-input {
    padding: 1rem;
    background: #2bb7da;
    color: white;
    border: 2px solid white;
    border-left: none;
    border-radius: 5px;
    margin-left: -7px;
}
::placeholder {
    color: white;
} /* Firefox */
  form .search-input:focus {
    outline: none;
}
  :-ms-input-placeholder {
    color: white;
} /* IE 10-11 */
  
.footer-middle-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.footer-section {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.footer-section:first-child {
    margin-left: 1.8rem;
}
.footer-section:last-child {
    margin-right: 1.8rem;
}
.footer-section a {
    text-decoration: none;
    color: white;
    margin-bottom: 0.2rem;
}
/* .footer-subscribe-btn-container {
    width: 20%;
} */
.footer-section .subscribe-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    padding: 0.6rem 2.5rem;
    border-radius: 5px;
    margin-top: 0.6rem;
}
  
footer hr {
    margin: 1rem 0;
}
.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-link a {
    text-decoration: none;
    color: white;
}
.footer-bottom-link a:not(:last-child) {
    margin-right: 1.5rem;
}
.footer-bottom-section p {
    color: white;
    margin-left: 1.8rem;
}
.footer-social-links {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.footer-social-links a {
    text-decoration: none;
}
.footer-social-links p {
    margin-right: 0.5rem;
}
.footer-social-links a:not(:last-child) {
    margin-right: 0.9rem;
}
.footer-social-links svg {
    fill: white;
}
.mentor-name, .copyright {
    text-align: center;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 750px) {
    header {
      position: relative;
    }
    .nav-toggle {
      display: block;
      position: absolute;
      cursor: pointer;
      margin-top: 0.4rem;
      margin-right: 1rem;
      right: 0;
    }
    nav svg {
      width: 1.3rem;
      fill: white;
    }
    .close,
    .nav-checkbox {
      display: none;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      margin: 0.1rem 0;
    }
    .nav-links {
      position: absolute;
      margin-top: 3.3rem;
      /* left: 50%; */
      top: 20px;
      width: 100%;
    }
  
    li {
      display: none;
      padding: 0.2rem 1rem 0.2rem;
      font-size: 1.2rem;
    }
    .nav-checkbox:checked ~ .nav-links .nav-menu li {
      display: block;
    }
    .nav-checkbox:checked ~ label.nav-toggle .close {
      display: block;
    }
    .nav-checkbox:checked ~ label.nav-toggle .menu {
      display: none;
    }
    .nav-checkbox:checked ~ .nav-links .nav-menu {
      background-color: black;
      opacity: 0.9;
      height: 94vh;
      padding-top: 2rem;
      border-radius: 3px;
    }
    .nav-call-to-action {
      display: none;
    }
    footer {
      font-size: 1rem;
    }
    .footer-call-to-action a {
      padding: 0.6rem 0.5rem 0.2rem 0.5rem;
    }
    form .search-input {
      padding: 0.8rem;
    }
    .footer-top {
      flex-direction: column;
    }
    .footer-middle-section {
      flex-wrap: wrap;
      font-size: 1rem;
    }
    .footer-section {
      margin-left: 1rem;
      width: 32%;
    }
    .footer-section:nth-child(3) {
      margin-top: 0.5rem;
    }
    .footer-section:first-child {
      margin-left: 1rem;
    }
    .footer-section:nth-child(2) {
      margin-right: 1rem;
    }
    .footer-section:last-child {
      margin-top: 0.5rem;
      margin-right: 1rem;
      margin-left: 2rem;
    }
    .footer-section .subscribe-btn {
      padding: 0.4rem 3rem 0.4rem 3rem;
    }
    .footer-bottom-section {
      flex-direction: column;
      text-align: center;
    }
    .footer-bottom-section p {
      margin-left: 0;
    }
    .footer-bottom-section p,
    .footer-bottom-link {
      width: 90%;
    }
    .mentor-name {
      text-align: center;
    }
}
    /* FOR SCREEN SIZES  */
@media only screen and (min-width: 1024px){

    }
/* //MEDIUM DEVICES LIKE LANDSCAPE TABLETS */
@media screen and (min-width:768px) and (max-width: 1023px){

}

/* //SMALL DEVICES LIKE POTRAIT TABLET,LARGE PHONE */
@media screen and (min-width:480px) and (max-width: 767px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .sports-wrapper{
        width: 100%;
    }
    main-news{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
        /* border-bottom: 1px solid rgb(226, 217, 217); */
    }
    .right-section, .left-section, .middle-section{
        width: 100%;
    }
    .middle-section{
        border: none;
    }
    
}







/* EXTRA SMALL DEVICES LIKE SMARTPHONES */
@media only screen and (max-width: 479px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .sports-wrapper{
        width: 100%;
    }
    .main-news{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 10px; */
        /* border-bottom: 1px solid rgb(226, 217, 217); */
    }
    .right-section, .left-section, .middle-section{
        width: 100%;
    }
    .middle-section{
        border: none;
    }
    .middle-title {
        font-size: 16px;
        text-align: center;
    }
    .news-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
    .second-news-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }
    .section-news-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }
    .second-news-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }
    .news-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }
    .section-second-news-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }
    .section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}