@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* //HEADER SECTION// */
header {
  background: linear-gradient(to right, #2bb7da, #31d35c);
  height: 60px;
  text-align: center;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.header-logo h3,
.footer-logo h3 {
  color: white;
  font-size: 1.3rem;
}
.header-logo h3 {
  margin-left: 1rem;
}
.header-logo span,
.footer-logo span {
  color: lawngreen;
  font-size: 1.4rem;
}
.nav-toggle {
  display: none;
}
.nav-checkbox {
  display: none;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu li:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-menu li a,
.nav-call-to-action a {
  text-decoration: none;
  color: white;
}
/* hover styles for the nav-link */
.nav-link {
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 5px;
  background: black;
  left: 0;
  right: 0;
  bottom: -1.4625rem;
  opacity: 0;
}
.nav-link:hover {
  color: black;
}
.nav-link:hover::before {
  opacity: 0.75;
}
.nav-call-to-action {
  margin-right: 2rem;
}
.nav-call-to-action a {
  border: 2px solid white;
  border-radius: 5px;
}
.nav-call-to-action a:first-child {
  padding: 0.5rem 0.5rem;
  margin-right: 0.2rem;
}
.nav-call-to-action a:last-child {
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
}

/* //MAIN SECTION// */

.sub-title {
  margin: 20px 20px;
  text-align: center;
  font-size: bold;
}
.container {
  margin: 20px 20px 20px 20px;
}

.container img {
  height: 250px;
  width: 350px;
}

.container-wrapper {
  display: flex;
}
.section-heading-separator {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0.2em;
}

.section-heading-separator .sub-title {
  font-size: 2.2em;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2;
  color: black;
  background-color: white;
  position: relative;
  z-index: 1;
}

.section-heading-separator fieldset {
  width: 100%;
  text-align: center;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 3%;
  letter-spacing: 5px;
  color: red;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.sub-title {
  margin: 20px 20px;
  text-align: center;
  font-size: bold;
}

.whole-container-wrapper {
  width: 80%;
  /* align-items: center; */
  margin-top: 5px;
}

.advertisment {
  width: 20%;
}

/* /* .ad{
  width: 100%;
  height: 550px;
  margin-bottom: 80px;
} */

.adname {
  font-size: 10px;
  text-align: center;
}
*/ .left-section {
  width: 30%;
}

.first {
  border-bottom: 2px solid rgb(226, 217, 217);
}

.left img {
  width: 100%;
  height: 180px;
}

.middle-section {
  width: 52%;
  border-left: 1px solid rgb(226, 217, 217);
  border-right: 1px solid rgb(226, 217, 217);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.middle img {
  width: max-content;
  height: 250px;
  /* align-items: stretch; */
}

.middle {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 25px;
}

.middle a {
  text-decoration: none;
  color: #000;
}

.middle-title {
  font-size: 24px;
  text-align: center;
}

.right-section {
  width: 30%;
}

.right img {
  width: 100%;
  height: 180px;
}

.news-headlines {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-bottom: 1px solid rgb(226, 217, 217);
}
.container-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  margin-top: 2rem;
}

/* .news-clip{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 0.2);
    transition: 0.3s;
    border-radius: 5px; 
}*/
.section {
  padding: 40px;
}
.section h2 {
  font-size: 30px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.section-heading-separator fieldset h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.div-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.div-wrapper img {
  width: 235px;
  height: 180px;
}

/* //FOOTER SECTION// */
footer {
  background-color: black;
  padding-top: 1rem;
  margin-bottom: -2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
}

.footer-form {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.form-search-wrapper {
  width: 68%;
}
.search-button {
  width: 30%;
}
.footer-form a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  padding: 1rem 1.2rem 0.5rem 1.2rem;
  margin-left: 0.3rem;
  /* width: 60%; */
  text-align: center;
}
.footer-form a:hover {
  color: #31d35c;
}
.footer-form .search-input {
  padding: 1rem;
  background: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  color: white;
  font-size: 1rem;
} /* Firefox */
form .search-input:focus {
  outline: none;
}
:-ms-input-placeholder {
  color: white;
} /* IE 10-11 */

.footer-middle-section {
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer-section {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-section a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.2rem;
}
.footer-section a:hover {
  color: #31d35c;
}
.footer-subscribe-btn {
  border: 2px solid white;
  color: white;
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 0.8rem 0;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: 0.3rem;
}
.footer-subscribe-btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
footer hr {
  margin: 1rem 0;
  height: 1.2px;
  background-color: white;
  border: none;
}
.footer-bottom-section {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 1.5rem 1.5rem;
}
.footer-bottom-link {
  flex-wrap: nowrap;
  width: 40%;
}
.footer-bottom-link a {
  text-decoration: none;
  color: white;
}
.footer-bottom-link a:hover {
  color: #31d35c;
}
.footer-bottom-link a:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-bottom-section p {
  color: white;
  margin-left: 1.8rem;
}
.footer-social-links {
  width: 30%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.footer-social-links a {
  text-decoration: none;
}
.footer-social-links a:hover {
  transform: scale(1.1);
}
.footer-social-links svg:hover {
  fill: #31d35c;
}
.footer-social-links p {
  margin-right: 0.5rem;
}
.footer-social-links a:not(:last-child) {
  margin-right: 0.5rem;
}
.footer-social-links svg {
  fill: white;
}
.copyright {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
/* //RESPONSIVE DESIGN// */
@media (max-width: 750px) {
  header {
    position: relative;
  }
  .header-logo {
    margin-left: -1.5rem;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    cursor: pointer;
    margin-top: 0.4rem;
    margin-right: 1rem;
    right: 0;
  }
  nav svg {
    width: 1.3rem;
    fill: white;
  }
  .close,
  .nav-checkbox {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 0.1rem 0;
  }
  .nav-links {
    position: absolute;
    margin-top: 2.76rem;
    top: 20px;
    right: 0;
    width: 100%;
    z-index: 100;
  }

  li {
    display: none;
    padding: 0.2rem 1rem 0.2rem;
    font-size: 1.2rem;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu li {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
  }
  .nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
  }
  .nav-checkbox:checked ~ .nav-links .nav-menu {
    background-color: black;
    opacity: 0.9;
    height: 65vh;
    padding-top: 2rem;
    border-radius: 3px;
  }
  .nav-call-to-action {
    display: none;
  }
  footer {
    font-size: 1rem;
  }
  .footer-form {
    margin-top: 0.5rem;
  }
  .footer-form a {
    margin-left: 0.3rem;
    padding: 0.8rem 0.95rem 0.8rem 0.95rem;
  }
  .form-search-wrapper {
    width: 80%;
  }
  .search-button {
    width: 18%;
  }
  .foter-form .search-input {
    padding: 0.8rem;
  }
  .footer-top {
    flex-direction: column;
  }

  .footer-middle-section {
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .footer-section {
    margin-left: 1rem;
    width: 32%;
  }
  .footer-section:nth-child(3) {
    margin-top: 0.8rem;
  }

  .footer-section:last-child {
    margin-top: 0.8rem;
  }
  .footer-section .subscribe-btn {
    display: inline-block;
    padding: 0.4rem 2rem 0.4rem 2rem;
  }
  .footer-bottom-section {
    text-align: center;
  }
  .footer-bottom-section p {
    margin-left: 0;
  }
  .footer-bottom-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-bottom-link {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.5rem;
  }
  .footer-social-links {
    width: 55%;
    margin: 0 auto;
  }
  .social-link {
    display: flex;
    justify-content: center;
  }

  .copyright {
    font-weight: 700;
    line-height: 1.4;
    font-size: 0.8rem;
  }
}
/*Responsiveness For very small devices*/
@media (max-width: 350px) {
  .footer-middle-section {
    justify-content: center;
  }
  .footer-section {
    width: 90%;
    margin: 0 auto;
  }
  .footer-bottom-section {
    flex-direction: column;
    justify-content: center;
  }
  .footer-bottom-link {
    flex-direction: row;
    width: 70%;
  }
  .footer-social-links {
    width: 90%;
    margin-top: 1rem;
  }
}
